.product-detail {
    display: flex;
    max-width: 1400px;
    margin: 50px auto;
}

.product-image-area {
    width: 700px;
    text-align: center;
}

.product-image {
    width: 550px;
    height: 550px;
}

.product-description-area {
    width: 700px;
    text-align: center;
}

.product-title { 
    text-align: left;
}

.product-name {
    display: block;
    line-height: 0;
}

.yen {
    font-size: 20px;
}

.product-price {
    font-size: 30px;
}

.tax-included {
    font-size: 20px;
}

.product-actions {
    display: flex;
}

.like-container {
    margin-left: 30px;
}

.like-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.like-button.liked {
    background-color: yellow;
}

.star {
    width: 30px;
    height: 30px;
}

.like-count {
    margin-left: 10px;
}

.comment-container {
    margin-left: 40px;
}

.comment {
    width: 30px;
    height: 30px;
}

.comment-count {
    margin-left: 10px;
}

.purchase-area {
    margin-top: 10px;
    width: 700px;
    text-align: left;
}

.purchase-button {
    width: 600px;
    height: 45px;
    font-size: 25px;
    color: white;
    background-color: #ff5555;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    line-height: 45px;
    text-align: center;
}

.product-description {
    text-align: left;
    margin-top: 50px;
}

.product-info {
    text-align: left;
    margin-top: 50px;
}

.category-info {
    font-weight: bold;
    margin-right: 40px;
}

.category-info-text {
    margin-left: 10px;
    font-size: 13px;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    border-radius: 25px;
    padding: 0 20px;
}

.product-condition {
    font-weight: bold;
    margin-right: 50px;
}

.product-condition-text {
    font-size: 13px;
    padding: 0 20px;
}

.product-comments {
    text-align: left;
    margin-top: 50px;
}

.comments-image {
    border-radius: 50%;
}

.name {
    margin-left: 15px;
    font-weight: bold;
}

.comments-text {
    margin-top: 10px;
    width: 600px;
    height: 60px;
    background-color: #e5e5e5;
    border-radius: 3px;
    padding: 20px 10px;
}

.comment-input {
    text-align: left;
    margin-top: 50px;
}

.comment-area {
    width: 600px;
    height: 300px;
    text-align: left;
}

.comments-form {
    width: 100%;
    height: 100%;
    resize: none;
}

.comments-button {
    margin-top: 30px;
    width: 600px;
}

.comments-button-submit {
    width: 600px;
    height: 45px;
    font-size: 20px;
    color: white;
    background-color: #ff5555;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    line-height: 45px;
}

.textarea_error_message {
    color: red;
}

@media screen and (max-width: 850px) {
    .product-detail {
        display: grid;
        justify-content: center;
        max-width: 850px;
        margin: 50px auto;
    }

    .product-image-area {
        width: 100%;
        text-align: center;
    }

    .product-description-area {
        width: 600px;
        margin: 50px auto;
    }
}