.contents {
    display: flex;
    justify-content: center;
    margin: 120px auto;
}

.left-contents {
    width: 900px;
    margin-left: 100px;
}

.product-image-area {
    display: flex;
}

.product-image {
    margin-bottom: 20px;
}

.product-name {
    margin-left: 70px;
    line-height: 0;
}

.yen {
    margin-left: 70px;
    font-size: 30px;
    display: inline-block;
    margin-top: 30px;
}

.product-price {
    font-size: 30px;
}

.border1 {
    border: 1px solid #5f5f5f;
    margin: 30px 0;
}

.payment-method-title {
    margin-left: 30px;
}

select {
    margin-left: 100px;
    width: 300px;
    height: 40px;
    border-radius: 3px;
    font-size: 20px;
    appearance: base-select;
    padding-left: 5px;
    margin-top: 20px;
}

option {
    background-color: #636769;
    color: white;
}

.border2 {
    border: 1px solid #5f5f5f;
    margin-top: 60px;
    margin-bottom: 10px;
}

.shipping-address-nav {
    display: flex;
    justify-content: space-between;
}

.shipping-address-title {
    margin-left: 30px;
}

.shipping-address-change {
    text-decoration: none;
    color: #0073cc;
    margin-top: 25px;
    margin-right: 30px;
    font-size: 20px;
    background-color: white;
    border: none;
    padding: 0;
    height: 30px;
    cursor: pointer;
}

.shipping-address-area {
    font-size: 20px;
}

.post-mark {
    margin-left: 100px;
}

.address {
    margin-left: 100px;
}

.border3 {
    border: 1px solid #5f5f5f;
    margin-top: 30px;
    margin-bottom: 30px;
}

.right-contents {
    width: 500px;
    margin-left: 100px;
    margin-right: 100px;
}

table {
    border-collapse: collapse;
    width: 500px;
    height: 250px;
}

table tr {
    border: 1px solid #5f5f5f;
    width: 300px;
}

table td {
    text-align: center;
    font-size: 25px;
}

.purchase-button {
    margin-top: 80px;
    width: 500px;
    height: 70px;
    font-size: 27px;
    color: white;
    background-color: #ff5555;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.select_error_message {
    color: red;
}

@media screen and (max-width: 850px) {
    .contents {
        display: grid;
        justify-content: center;
        max-width: 850px;
        margin: 50px auto;
    }
    
    .left-contents {
        width: 90%;
        margin: 0 auto 50px;
    }
}